@font-face {
    font-family: 'rajdhaniregular';
    src: url('fonts/rajdhani-regular-webfont.woff2') format('woff2'),
    url('fonts/rajdhani-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bahnscrift';
    src: url('fonts/bahnschrift-webfont.woff2') format('woff2'),
    url('fonts/bahnschrift-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object,
iframe, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'bahnscrift';
    font-weight: 100;
    vertical-align: baseline;
}

#intro .inner {
    color: #ffffff;;
}
#intro .inner h1 {
    font-size: 4.75em;
    margin-bottom: 2px;
}
#intro .inner h3 {
    font-size: 1.75em;
}
#intro .inner p {
    line-height: 28px;
}

.davao-map-content {
    position: absolute;
    right: 0;
    width: 15em !important;
    top: 40px;
    background: transparent;
    backdrop-filter: blur(6px);
    padding: 10px !important;
}

.img_1 {
    /* filter: url(filters.svg#grayscale); Firefox 3.5+ */
    filter: gray; /* IE5+ */
    -webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
    -webkit-transition: all .5s ease-in-out;
}

.img_1:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.05);
}

.embed-objects .box {
    float: left;
    width: 25%;
    height: 300px;
}
.box .card-text {
    line-height: 20px;
}
.nav-footer {
    margin-top: 50px;
    text-align: center;
}

.macaad {
    font-size: 14px;
    margin-top: 30px;
}

.features section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.clearfix {
    clear: both;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
.clickable {
    cursor: pointer;
}
